<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 form-holder">
            <h1 class="text-center mb-4">Ingresar nueva contraseña</h1>
            <form id="newpassword-form">
                <div class="mb-3">
                    <label class="form-label" for="code">Código de recuperación:</label>
                    <input type="text" id="code" name="code" class="form-control text-center" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">Nueva contraseña:</label>
                    <input type="password" id="password" name="password" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="confirm_password">Confirmar nueva contraseña:</label>
                    <input type="password" id="confirm_password" name="confirm_password" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary w-100 mb-3">Cambiar contraseña</button>
            </form>
            <p class="text-center">¿No estás registrado? <a href="/register">Regístrate aquí.</a></p>
        </div>
    </div>
</div>

<!-- Scripts necesarios -->
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/js/newPasswordScript.js"></script>