<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 form-holder" style="max-width: 500px;margin: auto;">
            <h1 class="text-center mb-4">Restablecer contraseña</h1>
            <form id="resetpassword-form">
                <div class="mb-3">
                    <label class="form-label" for="email">Correo electrónico:</label>
                    <input type="email" id="email" name="email" class="form-control" required aria-required="true">
                </div>
                <button type="submit" class="btn btn-effect btn-dark btn-jif bg-black w-100 mb-3 w-100 mb-3">Enviar solicitud</button>
            </form>
            <p class="text-center">¿No estás registrado? <a href="/register">Regístrate aquí.</a></p>
        </div>
    </div>
</div>

<!-- Scripts necesarios -->
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/js/resetPasswordScript.js"></script>